body {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 1.5em;
    background: #f4f4f4;
}

#container {
    width: 100%;
    max-width: 600px;;
    margin: 20px auto;
    padding: auto;
    overflow: auto;
    border: #ccc solid 1px;
    background: #fff;
   
    @include border-radius (10px);
}

section {
    min-height: 200px;
    margin: 15px;
    max-width: 300px;
}


